@{
    ViewBag.Calc = 20 / 5;
}

@model BooksViewModel

<h1>Welcome to the Bookstore!</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true">
     
</div>

@*<div page-model="@Model.PageInfo" page-action="Index"></div>*@

